# Redis Configuration (Upstash or local)

# This is where our live train data lives
REDIS_URL="redis://localhost:6379"
REDIS_TOKEN=""

# Application Configuration

# Current environment: development, test, production
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Simulation Settings
# How often the worker updates trains (in seconds)
WORKER_UPDATE_INTERVAL="8"
MAX_DELAY_MINUTES="30"
DELAY_PROBABILITY="30"
